body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(topart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.tartalom {
    font-family: "Momo Signature";
    system ui;
    color: white;
    flex-grow: 1;

}

a {
    text-decoration: none;
    color: inherit;
}

.box_menu {
    width: max-content;
    height: min-content;
    margin-left: 5px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    text-align: left;
    border: 10px solid rgba(255, 255, 255, 0.3);
    color: aliceblue;
    font-size: 20px;
    
}



h1 {
    font-weight: bolder;
    font-size: 56px;
    color: rgb(99, 99, 92);
}

h2 {
    font-weight: 500;
    font-size: 44px;
    color: rgb(248, 248, 247);
}

.elmosott_hatter {
    width: max-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1px;
    border-radius: 1px;
    backdrop-filter: blur(5px);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.momo-signature-regular {
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
}

.laboda {
    background-color: #333;
    color: white;
    padding: 15px;
}